/*** General ***/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}
input:focus {
  outline: none;
}
.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.h-card {
  background-color: white;
  border-radius: 20px;
  padding: 3px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.a-card {
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}
/*** Header-Desktop ***/
#header {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  width: 80px;
}
.header-nav ul {
  width: 300px;
  display: flex;
  justify-content: flex-end;
}
.header-nav li {
  flex: 1;
  text-align: center;
  margin-right: 30px;
}
.header-link {
  width: 150px;
  font-size: 16px;
  display: block;
  padding-top: 15px;
  border-top: 2px solid white;
}
.header-link:hover {
  border-top: 2px solid var(--main-color);
  color: var(--main-color);
  transition-duration: 0.5s;
}
/*** Headline-Recherche--Desktop***/
.headline h1 {
  font-size: 22px;
  margin-bottom: 5px;
  padding-top: 30px;
}
.headline p {
  margin-top: 0;
}
.formulaire {
  display: flex;
  padding: 10px 0 25px;
}
.localisation {
  height: 40px;
  width: 40px;
  background-color: var(--main-bg-color);
  border-radius: 10px 0 0 10px;
  border: none;
}
.localisation i {
  color: black;
}
.formulaire-ville {
  border: 1px solid var(--main-bg-color);
  font-weight: 500;
}
.rechercher {
  background-color: var(--main-color);
  border-radius: 0 10px 10px 0;
  border: none;
  padding: 10px;
  color: var(--filter-bg-color);
  font-weight: 600;
  width: 110px;
}
.rechercher:hover {
  background-color: var(--filter-bg-color);
  color: var(--main-color);
  transition-duration: 0.25s;
}
/*** Filtres-info ***/
.filtres {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.filtres button {
  display: flex;
  align-items: baseline;
  justify-content: center;
  background-color: transparent;
  border: 2px solid var(--main-bg-color);
  border-radius: 25px;
  font-weight: 700;
  width: 136px;
}
.filtres button:hover {
  background-color: var(--filter-bg-color);
}
.filtres button i {
  margin-right: 10px;
}

.info-bar {
  display: flex;
  align-items: baseline;
  gap: 10px;
  padding: 10px 0 25px;
}
.info-bar i {
  color: var(--main-color);
}
/*** Hebergements And Populaires-Desktop ***/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}
/*** Hebergements-Desktop ***/
.hebergements {
  width: 65%;
}
.hebergements-title {
  display: flex;
  margin-bottom: 30px;
}
.hebergements-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.h-card {
  width: calc(33.33% - 30px);
  margin-bottom: 30px;
  transition: transform 0.2s;
}
.h-card:hover {
  transform: scale(1.1);
}
.hebergements-cards .h-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  padding-left: 10px;
}
.hebergements-cards img {
  width: 100%;
  height: 136px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.hebergements-cards .card-title {
  margin-top: 10px;
  margin-bottom: 8px;
}
.hebergements-cards .card-subtitle {
  margin: 0;
}

.hebergements-cards .card-rating {
  margin-bottom: 4px;
}
/*** Populaires-Desktop ***/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}
/*** activites-desktop ***/
.activites {
  width: 100%;
  padding-top: 30px;
}
.activites-cards {
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px;
}
.a-card {
  width: calc(25% - 30px);
  object-fit: cover;
  justify-content: center;
  transition: transform 0.2s;
}
.a-card h3 {
  padding: 10px;
  margin: 0;
}
.a-card:hover {
  transform: scale(1.03);
}
.activites-cards img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/*** Footer-desktop ***/
.footer-section {
  background-color: var(--main-bg-color);
  margin: auto;
  display: flex;
  margin-top: 30px;
  padding: 30px 0;
  justify-content: space-between;
}
.section-panel {
  width: 30%;
}
.section-panel h2 {
  margin: 0;
  font-size: 17px;
  padding: 15px 0 0 15px;
}
.section-panel a {
  font-size: 12px;
  display: block;
  padding: 15px 0 0 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
